#requirements.txt

face_recognition
opencv-python
numpy

#Explanation of Dependencies:
face_recognition - Used for detecting and recognizing faces in images.
opencv-python - Helps in image processing and capturing images from the camera.
numpy - Supports numerical operations required for face encoding comparisons.

#Installing Dependencies
Run the following command to install them:
pip install -r requirements.txt

#If you're using Raspberry Pi, you may need additional dependencies:
pip install picamera
